{% extends "base.html" %}

{% block content %}

<h1>About Me</h1>
<p>My name is Austyn Morales, I am currently a junior at West Texas A&M University.
    I am a 90's baby so naturally I am more adapt to technology.
    I am pursuing a bachelor's degree in Computer Information Systems.
    Going back to school was probably one of the best decisions I have made in my life. 
    I have learned so much about myself and what I want to do with my life.
    I have made a ton of friends in my field and some in others.
    I hope to graduate next year and start my first steps toward a lifelong prosperous career.
    I love working out and staying as healthy as possible to the best of my abilities.
    I love my state and my Dallas Cowboys!
    I also love playing Call of Duty if I have any spare time.
</p>

{% endblock %}